body {
  margin: 0;
  overflow: hidden;
}

.scanning {
  display: none;
}
a-image,
a-plane {
  transition: transform 0.3s ease;
}

.focus-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  border: 1px solid #c7c7c7;
  display: none;
}
.focus-frame .corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.9);
}
.focus-frame .top-left {
  top: -5px;
  left: -5px;
  border-right: none;
  border-bottom: none;
}

.focus-frame .top-right {
  top: -5px;
  right: -5px;
  border-left: none;
  border-bottom: none;
}

.focus-frame .bottom-left {
  bottom: -5px;
  left: -5px;
  border-right: none;
  border-top: none;
}

.focus-frame .bottom-right {
  bottom: -5px;
  right: -5px;
  border-left: none;
  border-top: none;
}

.scanning-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 250px;
  height: 5px;
  background: rgba(2, 250, 184, 0.7);
  box-shadow: 20px 0 20px rgba(134, 213, 189, 0.5);
  transform: translateX(-50%);
  animation: scan 3s linear infinite;
  border-radius: 50px;
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.focus-frame::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 20px;
  border: 5px solid rgba(130, 246, 213, 0.5);
  filter: blur(15px);
  z-index: -1;
}
.a-orientation-modal,
.a-enter-vr {
  display: none;
}
